[Unit]
Description=Auto update with pacman
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/pacman -Syyuq --noconfirm
TimeoutStopSec=180
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
