[Unit]
Description=Start Wifi on Boot
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=syslog
ExecStart=/usr/custom/bin/wifi connect

[Install]
WantedBy=multi-user.target
